.mid {
  @include themify($themes) {
    background-color: themed('back-background-color');
	padding: 0.25rem 0;
  }
}
.main {
  width: 100%;

  @include flexbox();
  @include justify-content(center);
  @include themify($themes) {
    background-color: themed('back-background-color');
  }
}