.mid {
  @include themify($themes) {
    background-color: themed('back-background-color');
	padding-top: 0.5rem;
  }
}
.main {
  width: 100%;

  @include flexbox();
  @include justify-content(center);
  @include themify($themes) {
    background-color: themed('back-background-color');
  }
}