.mid {
  @include themify($themes) {
    background-color: themed('back-background-color');

  }
}
.main {
  width: 100%;

  @include flexbox();
  @include justify-content(center);
  @include themify($themes) {
    background-color: themed('back-background-color');
  }
}



::-webkit-scrollbar {
  width: 9px;
  height: 9px;
}
::-webkit-scrollbar-thumb {
  border-radius: 0;
  background: #c7c7c7;
}
::-webkit-scrollbar-track {
  border-radius: 0;
  @include themify($themes) {
    background-color: themed('scrollBar-track');
  }
}